@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
.fade-to-top {
  background: linear-gradient(to top, transparent, black);
}
.fade-to-black {
  background: linear-gradient(to bottom, transparent, black);
}
.mask-fade {
  z-index: 0;
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
  mask-composite: intersect;
  -webkit-mask-composite: destination-in;
}
.mask-fade-mini {
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 10%,
    black 80%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  mask-composite: intersect;
  -webkit-mask-composite: destination-in;
}
@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(350px);
    
  }
  80% {
    opacity: 1;
    transform: translateX(-15px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);

  }
}

.fade-right {
  animation: fade-right 1.4s ease-in-out forwards;
}
@layer utilities {
  .masked-reveal {
    display: inline-block;
    animation: mask-reveal 2.5s ease-out forwards;
    -webkit-mask-image: linear-gradient(to left, black 10%, black 100%);
    mask-image: linear-gradient(to left, black 10%,  transparent 50%, black 100%);
    -webkit-mask-size: 400% 100%;
    mask-size: 500% 100%;
    -webkit-mask-position: right;
    mask-position: right;
  }

  @keyframes mask-reveal {
    to {
      -webkit-mask-position: left;
      mask-position: left;
    }
  }
}

@keyframes fade-button-in {
  0%{
    opacity: 0;
    transform:translateY(90px)
  }
  80%{
    opacity: 1;
    transform: translateY(-10px)

  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
.fade-button-in{
  animation: fade-button-in 1.5s cubic-bezier(0.22, 1, 0.36, 1)  forwards;
}
.bg-swipe-hover {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.bg-swipe-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: black; /* Cambia este color según necesites */
  transition: transform 0.6s ease-in-out;
  transform: translateX(0);
  z-index: -1;
}

.bg-swipe-hover:hover::before {
  transform: translateX(100%);
}

/*estilos para el scroll*/

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  
}

::-webkit-scrollbar-thumb {
  background-color: #080808;
  border-radius: 5px;
  border: #ededed solid 1px;
  scroll-behavior: smooth;
  transition: 0.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-top {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-top {
  animation: fade-top 1s ease-in-out forwards;
}

@keyframes fade-bottom {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-bottom {
  animation: fade-bottom 1s ease-in-out forwards;
}

@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-left {
  animation: fade-left 1s ease-in-out forwards;
}

.grecaptcha-badge {
  bottom: 80px !important; /* lo subís para no tapar footer o botón */
  right: 10px !important;  /* podés pasarlo al otro lado si querés */
  z-index: 50 !important;  /* aseguras que no tape modales */
}